.btn {
  display: block;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
}

.middle {
  background-color: #821f1f;
}

.tempScoreDisplay, .diceNumber {
  font-size: 35px;
  text-align: center;
  padding-top: 22px;
  background-color: lightblue;
  width: 100px;
  height: 100px;
  color: white;
  margin: auto;
  border-color: gray;
  border-width: 2px;
}

.playerOneTotal, .playerTwoTotal {
  font-size: 35px;
  text-align: center;
  padding-top: 22px;
  background-color: lightblue;
  width: 100px;
  height: 100px;
  color: white;
  margin: auto;
  margin-bottom: 18px;
}

.well {
  margin-top: 20px;
  height: 300px;
}

.win {
  display: none;
}

h3 {
  font-size: 12px;
  text-align: center;
  color: gray;
}
